#about-us{
    background-image:url("../img/babak-fakhamzadeh-2994.jpg");
    height: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rem;
    border-radius: 50%;
    margin: auto;
    padding: 3rem 5rem;
    color: #fff;
    font-size: 1.2rem;
    box-sizing: border-box;
}




#about-us h1, #about-us p {
    text-shadow: 3px 3px 6px #000;
    text-align: center;
}

#more-circles {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#circle1 {
    background-image: url("../img/quechua.jpg");
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 10rem;
    border-radius: 50%;
    margin: 2rem;

}


#circle2 {
    background-image:url("../img/felipe-portella-198781.jpg");
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 10rem;
    border-radius: 50%;
    margin: 2rem;
}
#circle3 {
    background-image:url("../img/DM5QhjfW4AELhvp.jpg");
    height: 10rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 10rem;
    border-radius: 50%;
    margin: 2rem;
}