header {
    padding: 1rem 1rem;   
    background-color: #5f355f;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: #fff;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

main {
    padding-top: 3rem;
}

#site-title {
    margin: 0;
    letter-spacing: .2em;
    flex-grow: 1;
}
#site-title h3 {
    margin: 0;
}

nav {
    margin: 0 auto;
    flex-grow: 0;
}

.navbar {
    margin: 0;
}

.navbar li {
    display: inline-block;
    list-style-type: none;
    flex-grow: 1;
    padding: 0 .5rem;
    text-align: right;
}

.navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
}

#social-media {
    padding: .7rem;
}
#social-media img {
    height: 30px;
    width: 30px;
}
footer {
    background-color: #5f355f;
    color: #fff;
    margin: 0;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}