body {
    margin: 0;
}

#content {
    max-width: 75rem;
    margin: auto;
}

#products {
    display: flex;
    flex-wrap: wrap;
}
#products .card {
    background: lavenderblush;
    border: 3px solid indigo;
    flex: 1 1 25%;
    padding: 1rem;
    margin: 1rem;
}
#products h2 {
    border-bottom: .33rem solid purple;
    border-top: .33rem solid purple;
    margin: 0 0 1.5rem 0;
    text-align: center;
    padding: .5rem 0;
}
#products .price {
    float: right;
    opacity: .5;
    display: block;
    padding: 0 0 1ex 1ex;
    font-size: 1.1rem;
}
#products img {
    border: 2px solid darkslateblue;
    max-height: 200px;
    margin: auto;
    display: block;
}