
#about-us{
    background-image:url("babak-fakhamzadeh-2994.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    

}

